---
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const cards = await getCollection("cards");
  return cards
    .map((card) => card.id)
    .map((slug) => ({ params: { page: slug } }));
}

const { page } = Astro.params;
if (page === undefined) {
  throw new Error("page param not provided");
}

const card = await getEntry("cards", page);
if (card === undefined) {
  throw new Error(`could not find card with id "${page}"`);
}
---

<Layout title={`Jouer Bouger - ${card.id}`}>
  <main>
    <h1>{card.data.title}</h1>
    <p>hello page {page}</p>
    <p>video url: {card.data.videoUrl}</p>
  </main>
</Layout>
